# 忽略所有CSV文件
*.csv

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# PyCharm
.idea/
*.iml
*.iws
*.ipr
.idea_modules/

# 虚拟环境
venv/
env/
ENV/

# 日志文件
*.log

# 临时文件
*.tmp
*.temp
.DS_Store

*.txt
*.CSV
*.xls
*.doc
*.jpg
*.pdf
*.png
*.ipynb
*.npy
*.h5
*.json
*.rar
code/MyWeb/static
code/MyWeb/Basic
DataUi/
share/
echarts-python-0.1.3/
data/*.csv
datasets/
raw_data/
processed_data/
Thumbs.db
data/
code_data