<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>股票趋势统计</title>
		<style>
			.box1 {
				width: 1080px;
				height: 300px;
				background-color: white;
				}
				
			.box2 {
				width: 1080px;
				height: 300px;
				background-color: white;
				}
			
			.box3 {
				width: 1080px;
				height: 300px;
				background-color: white;
				}
			
			.box4 {
				width: 1080px;
				height: 300px;
				background-color: white;
				}
			
			.box5 {
				width: 1080px;
				height: 300px;
				background-color: white;
				}
				
		</style>
		<script src="../static/js/echarts.common.min.js"></script>
	</head>
	
	<body>
	My stock 
	<br> <br>
	<input type="button" value="StockCount" onclick="window.open('http://127.0.0.1:5000/trend')">
	
	</body>
</html>